<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hobots_L_Flasher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Hobots_L_Flasher.Properties.Settings>
            <setting name="Controllers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Firmware" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Programmers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DriverType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComPortBaudrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseATmega328pb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugInfoOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
        </Hobots_L_Flasher.Properties.Settings>
    </userSettings>
</configuration>
